DATABASE_URL=postgresql://postgres.[ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres
PAYLOAD_SECRET=your_generated_secret_here
BLOB_READ_WRITE_TOKEN=
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
